<nav class="py-4 px-4 bg-gray-100 flex justify-between items-center border-b-4 border-gray-300">
    <!-- <h1 class="text-2xl font-semibold hidden sm:block whitespace-nowrap">Pepperonis</h1> -->
    <img routerLink="main" src="../../../assets/logo.png" alt="logo.jpg" class="rounded-2xl max-h-14">

    <div class="flex flex-col sm:flex-row w-full gap-3">
        <div class="space-x-6 flex justify-center items-center sm:ml-auto sm:mr-6">
            <a routerLink="main" class="text-xl font-semibold hover:text-gray-500">Main</a>
            <a routerLink="menu" class="text-xl font-semibold hover:text-gray-500">Menu</a>
            <a routerLink="restaurants" class="text-xl font-semibold hover:text-gray-500">Restaurants</a>
            <a routerLink="news" class="text-xl font-semibold hover:text-gray-500">News</a>
        </div>

        <a routerLink="cart"
            class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700 text-center">Your
            cart</a>
    </div>
</nav>