<div class="text-gray-600 body-font">
    <div class="py-10 ml-10 mr-3">
        <div class="flex flex-wrap w-full mb-10 py-4">
            <div class="w-full mb-6 lg:mb-0">
                <h1 class="sm:text-4xl text-5xl font-semibold title-font mb-2 text-gray-900">Our locations</h1>
                <div class="h-1 w-52 bg-teal-500 rounded"></div>
            </div>
        </div>
        <div class="w-full grid grid-cols-1 gap-7 lg:grid-cols-4 -m-4">
            <a href="https://www.google.com.ua/maps/place/Imane+RAH%C3%81A/@16.9300043,7.9512708,16.73z/data=!4m5!3m4!1s0x119825f82c9d36cb:0xa1dcf4ed482d5e72!8m2!3d16.9309758!4d7.9509057?hl=ru"
                class="bg-white rounded-lg overflow-hidden shadow-lg">
                <div class="h-64 bg-cover bg-center"
                    style="background-image: url('../../../assets/images/restaurants/1.png')">
                </div>
                <div class="p-6">
                    <h2 class="text-2xl font-bold mb-4">Vinnytsia</h2>
                    <p class="text-gray-700 leading-6">Soborna St. 37</p>
                    <p class="text-gray-700 leading-6">Vinnytsia, 21000</p>
                    <p class="text-gray-700 leading-6">+380 12 345 6789</p>
                </div>
            </a>

            <a href="https://www.google.com.ua/maps/place/B%C3%A1nh+C%C4%83n+L%C3%A2n+Nguy%E1%BB%87t/@10.9304371,108.098939,19.28z/data=!4m5!3m4!1s0x317683017b8fde37:0x306bf1296d3ea89e!8m2!3d10.930511!4d108.0989792?hl=ru"
                class="bg-white rounded-lg overflow-hidden shadow-lg">
                <div class="h-64 bg-cover bg-center"
                    style="background-image: url('../../../assets/images/restaurants/2.png')">
                </div>
                <div class="p-6">
                    <h2 class="text-2xl font-bold mb-4">Zhmerynka</h2>
                    <p class="text-gray-700 leading-6">Central St. 34</p>
                    <p class="text-gray-700 leading-6">Zhmerynka, 23100</p>
                    <p class="text-gray-700 leading-6">+380 12 345 6789</p>
                </div>
            </a>

            <a href="https://www.google.com.ua/maps/place/California/@47.9126592,106.8998629,17.44z/data=!4m5!3m4!1s0x5d969251547ec61b:0x19276c0cf01a7641!8m2!3d47.9128961!4d106.9008385?hl=ru"
                class="bg-white rounded-lg overflow-hidden shadow-lg">
                <div class="h-64 bg-cover bg-center"
                    style="background-image: url('../../../assets/images/restaurants/3.png')">
                </div>
                <div class="p-6">
                    <h2 class="text-2xl font-bold mb-4">Kyiv</h2>
                    <p class="text-gray-700 leading-6">Chreschatyk St. 76</p>
                    <p class="text-gray-700 leading-6">Kyiv, 01001</p>
                    <p class="text-gray-700 leading-6">+380 12 345 6789</p>
                </div>
            </a>

            <a href="https://www.google.com.ua/maps/place/Pizzaria+Campe%C3%A3/@-15.5994781,-56.0801784,19.22z/data=!4m5!3m4!1s0x939db1c86d887539:0xf992e0fde5593f40!8m2!3d-15.5993431!4d-56.0800747?hl=ru"
                class="bg-white rounded-lg overflow-hidden shadow-lg">
                <div class="h-64 bg-cover bg-center"
                    style="background-image: url('../../../assets/images/restaurants/4.png')">
                </div>
                <div class="p-6">
                    <h2 class="text-2xl font-bold mb-4">Muhosransk</h2>
                    <p class="text-gray-700 leading-6">Musorna St. 228</p>
                    <p class="text-gray-700 leading-6">Muhosransk, 666</p>
                    <p class="text-gray-700 leading-6">+8 800 555 3535</p>
                </div>
            </a>
        </div>
    </div>
</div>