<div class="flex sm:my-10 sm:mx-20 flex-col sm:flex-row">
    <div class="sm:w-3/4 px-4 sm:px-12 pt-4 sm:pt-10 border-2 border-gray-300 rounded-l-xl relative"
        [class.rounded-b-xl]="cartItems.length > 2">
        <div class="flex justify-between border-b pb-8">
            <h1 class="font-semibold text-2xl text-gray-500">Shopping Cart</h1>
            <h1 class="font-semibold text-2xl text-gray-500">{{ totalCount }} Dish{{ totalCount > 1 || totalCount === 0
                ? 'es' : '' }}</h1>
        </div>

        <div class="h-96 flex" *ngIf="totalCount === 0">
            <span class="text-gray-500 font-semibold text-2xl m-auto">Your cart is empty :(</span>
        </div>
        <div *ngIf="totalCount > 0">
            <div class="mt-5 mb-14">
                <div class="flex mx-5">
                    <span class="w-2/5 font-semibold text-gray-600 text-xs uppercase">Product details</span>
                    <span class="w-1/5 font-semibold text-gray-600 text-xs uppercase text-center">Quantity</span>
                    <span class="w-1/5 font-semibold text-gray-600 text-xs uppercase text-center">Price</span>
                    <span class="w-1/5 font-semibold text-gray-600 text-xs uppercase text-center">Total</span>
                </div>

                <div *ngFor="let item of cartItems" class="bg-gray-100 flex p-4 mt-5 rounded-md">
                    <div class="flex flex-row w-2/5">
                        <img class="w-32 bg-gray-300 rounded-xl p-2" src="{{ item.dish.img }}"
                            alt="{{ item.dish.name }}.png">

                        <div class="flex flex-col">
                            <span class="font-bold text-xl text-gray-500 ml-4">{{ item.dish.name}}</span>
                            <button (click)="onRemove(item.dish.link)"
                                class="font-semibold text-white bg-red-500 hover:bg-red-600 ml-4 mt-auto p-2 rounded-xl max-w-min">Remove</button>
                        </div>
                    </div>

                    <div class="w-1/5 m-auto flex">
                        <div class="flex flex-row h-10 w-32 rounded-lg relative bg-transparent mt-1 m-auto">
                            <button (click)="onDecrease(item.dish.link)"
                                class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                <span class="m-auto text-2xl font-thin">−</span>
                            </button>
                            <input type="number" readonly
                                class="outline-none focus:outline-none text-center w-full bg-gray-300 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700"
                                [value]="item.count">
                            <button (click)="onIncrease(item.dish.link)"
                                class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </div>

                    <div class="w-1/5 flex justify-center">
                        <span [class.line-through]="item.dish.sale" class="my-auto font-semibold text-gray-500 mr-2">
                            {{ (item.dish.price / 100) | currency:'UAH':'symbol-narrow':'1.2-2' }}
                        </span>
                        <span *ngIf="item.dish.sale" class="text-red-500 text-xl my-auto">
                            {{ ((item.dish.price / 100) * 0.8) | currency:'UAH':'symbol-narrow':'1.2-2' }}
                        </span>
                    </div>

                    <div class="w-1/5 flex">
                        <span class="font-semibold text-gray-500 m-auto" *ngIf="item.dish.sale != true">
                            {{ (item.totalCost / 100) | currency:'UAH':'symbol-narrow':'1.2-2' }}</span>
                        <span class="font-semibold text-gray-500 m-auto" *ngIf="item.dish.sale">
                            {{ (item.totalCost / 100) | currency:'UAH':'symbol-narrow':'1.2-2' }}</span>
                    </div>
                </div>
            </div>
        </div>
        <button routerLink="/menu" class="font-semibold text-teal-500 mb-5 absolute bottom-0">
            <span class=" text-teal-500 hover:text-teal-600"><-- Continue Shopping</span>
        </button>
    </div>

    <div class="sm:w-1/4 px-8 py-10 border-y-2 border-r-2 border-gray-300 rounded-r-xl h-fit bg-gray-100">
        <h1 class="font-semibold text-2xl border-b pb-8 text-gray-500">Order Summary</h1>
        <div class="flex justify-between mt-10 mb-5">
            <span class="font-semibold text-sm uppercase text-gray-500">
                {{ totalCount }} Dish{{totalCount > 1 || totalCount === 0 ? 'es' : ''}}
            </span>
            <span class="font-semibold text-sm text-gray-500">
                {{ (totalAmount / 100) | currency:'UAH':'symbol-narrow':'1.2-2' }}
            </span>
        </div>
        <div class="mb-2">
            <label class="font-medium inline-block mb-3 text-sm uppercase text-gray-500">Cooking time</label>
            <br>
            <mat-radio-group [(ngModel)]="cookingTime">
                <mat-radio-button *ngFor="let option of cookingTimeOptions" [value]="option.value" class="mr-5">
                    {{ option.name }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="py-2">
            <label for="promo" class="font-semibold inline-block mb-3 text-sm uppercase text-gray-500">Promo
                Code</label>
            <input type="text" id="promo" placeholder="Enter your code" class="p-2 text-sm w-full" [(ngModel)]="promo">
        </div>
        <button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercaser rounded-md mt-2"
            (click)="applyPromoCode()">Apply</button>
        <div class="border-t mt-8">
            <div class="flex font-semibold justify-between py-6 text-sm uppercase h-10">
                <span class="text-gray-500">Total cost</span>
                <span class="text-gray-500 text-lg" *ngIf="discount === 1">
                    {{ totalAmount / 100 | currency:'UAH':'symbol-narrow':'1.2-2' }}
                </span>
                <div *ngIf="discount != 1">
                    <span class="text-red-500 text-xl mr-1">
                        {{(totalAmount * ((100 - discount) / 100)) / 100 | currency:'UAH':'symbol-narrow':'1.2-2' }}
                    </span>
                    <span class="text-red-500 text-xl">(-{{discount}}%)</span>
                </div>
            </div>
            <button class="bg-gray-300 font-semibold py-3 text-sm text-white uppercase w-full rounded-md mt-3"
                (click)="onCheckout()" [disabled]="totalCount === 0" (click)="showForm()"
                [ngClass]="{'bg-teal-400 hover:bg-teal-600': totalCount > 0}">
                Checkout
            </button>



            <div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="show">
                <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                    <div class="fixed inset-0 transition-opacity">
                        <div class="absolute inset-0 bg-gray-500 opacity-75" (click)="closeForm()"></div>
                    </div>

                    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;

                    <div
                        class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                        <div>
                            <button (click)="closeForm()" class="hover:text-red-500">X</button>
                            <form>
                                <div class="leading-loose">
                                    <form class="max-w-xl p-2 bg-white rounded">
                                        <h1 class="text-center text-xl font-semibold">Checkout</h1>
                                        <p class="text-gray-800 font-semibold">Customer information</p>
                                        <div class="inline-block mt-2 w-1/2 pr-1">
                                            <label class="text-gray-600">Name</label>
                                            <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded"
                                                id="cus_email" name="cus_email" type="text" required placeholder="Name"
                                                aria-label="Name" required>
                                        </div>
                                        <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
                                            <label class="text-gray-600">Surname</label>
                                            <input type="number"
                                                class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" required
                                                placeholder="Surname" maxlength="10">
                                        </div>
                                        <div class="mt-2">
                                            <label class="block text-gray-600">Phone number</label>
                                            <input class="w-full px-2  py-2 text-gray-700 bg-gray-200 rounded"
                                                type="text" required placeholder="123-456-78-90" maxlength="10">
                                        </div>
                                        <div class="mt-2">
                                            <label class="block text-gray-600">Email</label>
                                            <input class="w-full px-2  py-2 text-gray-700 bg-gray-200 rounded"
                                                type="text" required placeholder="name@gmail.com">
                                        </div>
                                        <div class="mt-2">
                                            <label class="block text-gray-600">Address</label>
                                            <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded"
                                                type="text" required placeholder="Adress">
                                        </div>
                                        <p class="mt-4 text-gray-800 font-semibold">Payment information</p>
                                        <div class="">
                                            <label class="block text-gray-600" for="cus_name">Card number</label>
                                            <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded"
                                                type="number" required placeholder="xxxx xxxx xxxx xxxx">
                                        </div>
                                        <div class="h-1 bg-gray-300 mt-4"></div>
                                        <div class="mt-4">
                                            <div class="w-full">
                                                <div *ngIf="discount != 1" class="grid grid-cols-2 grid-rows-1">
                                                    <div>
                                                        <span class="text-gray-600 text-lg mr-2">Total: </span>
                                                        <span class="text-red-500 text-xl mr-1">
                                                            {{(totalAmount * ((100 - discount) / 100)) / 100 | currency:'UAH':'symbol-narrow':'1.2-2' }}
                                                        </span>
                                                        <span class="text-red-500 text-xl mr-auto">(-{{discount}}%)
                                                        </span>
                                                    </div>

                                                    <div><span class="text-gray-600 text-lg">Discount: </span><span
                                                            class="text-red-400 text-lg">{{ ((totalAmount * ((100-discount)/100))
                                                            / 100) | currency:'UAH':'symbol-narrow':'1.2-2'}}
                                                        </span>
                                                    </div>
                                                </div>

                                                <div *ngIf="discount === 1" class="grid grid-cols-2 grid-rows-1">
                                                    <div>
                                                        <span class="text-gray-600 text-lg">Total: {{
                                                            ((totalAmount *
                                                            discount) / 100) | currency:'UAH':'symbol-narrow':'1.2-2' }}
                                                        </span>
                                                    </div>

                                                    <div>
                                                        <span class="text-gray-600 text-lg">Discount: </span><span
                                                            class="text-red-400 text-lg">{{ ((totalDiscount - totalAmount)
                                                            / 100) | currency:'UAH':'symbol-narrow':'1.2-2'}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button (click)="order()" (click)="closeForm()"
                                                class="px-4 py-1 mt-3 w-full text-white text-lg font-semibold texy-canter tracking-wider bg-teal-400 hover:bg-teal-600 rounded-md"
                                                type="submit">Order</button>
                                        </div>
                                    </form>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>