<ng-image-slider class="hidden sm:block" [images]="imageObject" #nav [animationSpeed]="1.5"
    [autoSlide]="{interval: 4, stopOnHover: false}" [slideImage]="true" [infinite]="true"
    [imageSize]="{width: '100%', height: 600}" [manageImageRatio]="true">
</ng-image-slider>

<ng-image-slider class="block sm:hidden mt-4" [images]="imageObject" #nav [animationSpeed]="1.5"
    [autoSlide]="{interval: 4, stopOnHover: false}" [slideImage]="true" [infinite]="true"
    [imageSize]="{width: '100%', height: 180}">
</ng-image-slider>

<div class="h-1 bg-gray-400"></div>

<section class="bg-gray-100 py-10">
    <div class="mx-auto px-8 grid grid-cols-1 md:grid-cols-2 gap-8">

        <div>
            <h2 class="text-2xl font-bold mb-10">About Us</h2>
            <p class="text-lg mb-4 text-justify">Our menu highlights things that utilize the sound and fragrant flavors,
                however,
                forget the stuffing ghee, spread, oil, and overwhelming cream. ‘Pepperonis’ has developed to incorporate
                four superb takeout areas in Toronto, with additional to come sooner rather than later. Our group takes
                pride in the way that we can furnish our new and faithful clients with extraordinary tasting
                Indian-roused nourishment that is not normal for that some other Indian eateries you visit. We perceive
                that a few people are as yet searching for run-of-the-mill Indian nourishment, and that is fine with us.
                Our disclaimer is that on the off chance that you’re anticipating overwhelming, slick, undesirable
                Indian nourishment, ‘Pepperonis’ isn’t the place for you.
        </div>
        <div>
            <img src="../../../assets/images/about/about4.png" alt="About Image"
                class="w-full  object-cover rounded-lg shadow-lg">
        </div>

    </div>
</section>
<section class="bg-white py-20">
    <div class="mx-auto px-8">
        <h2 class="text-2xl font-bold">What Our Customers Say</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div
                class="relative grid grid-cols-1 mt-20 gap-4 p-4 border-2 border-gray-300 rounded-lg bg-white shadow-lg">
                <div class="relative flex gap-4">
                    <img src="../../../assets/images/comments/billy.png"
                        class="relative rounded-lg -top-8 -mb-4 bg-white border h-20 w-20" alt="" loading="lazy">
                    <div class="flex flex-col w-full">
                        <div class="flex flex-row justify-between">
                            <p class="relative text-xl whitespace-nowrap truncate overflow-hidden">Billy Herrington
                            </p>
                            <a class="text-gray-500 text-xl" href="#"><i class="fa-solid fa-trash"></i></a>
                        </div>
                        <p class="text-gray-400 text-sm">20 April 2022, at 14:88 PM</p>
                    </div>
                </div>
                <p class="-mt-4 text-gray-500">Very good restaurant. You can eat very tasty ♂️dick♂️ for only
                    ♂️three hundred bucks♂️.</p>
            </div>
            <div
                class="relative grid grid-cols-1 mt-20 gap-4 p-4 border-2 border-gray-300 rounded-lg bg-white shadow-lg">
                <div class="relative flex gap-4">
                    <img src="../../../assets/images/comments/van.png"
                        class="relative rounded-lg -top-8 -mb-4 bg-white border h-20 w-20" alt="" loading="lazy">
                    <div class="flex flex-col w-full">
                        <div class="flex flex-row justify-between">
                            <p class="relative text-xl whitespace-nowrap truncate overflow-hidden">Van Darkholme
                            </p>
                            <a class="text-gray-500 text-xl" href="#"><i class="fa-solid fa-trash"></i></a>
                        </div>
                        <p class="text-gray-400 text-sm">20 April 2022, at 14:88 PM</p>
                    </div>
                </div>
                <p class="-mt-4 text-gray-500">Very good restaurant. You can eat very tasty ♂️dick♂️ for only
                    ♂️three hundred bucks♂️.</p>
            </div>
            <div
                class="relative grid grid-cols-1 mt-20 gap-4 p-4 border-2 border-gray-300 rounded-lg bg-white shadow-lg">
                <div class="relative flex gap-4">
                    <img src="../../../assets/images/comments/steve.png"
                        class="relative rounded-lg -top-8 -mb-4 bg-white border h-20 w-20" alt="" loading="lazy">
                    <div class="flex flex-col w-full">
                        <div class="flex flex-row justify-between">
                            <p class="relative text-xl whitespace-nowrap truncate overflow-hidden">Steve Rambo
                            </p>
                            <a class="text-gray-500 text-xl" href="#"><i class="fa-solid fa-trash"></i></a>
                        </div>
                        <p class="text-gray-400 text-sm">20 April 2022, at 14:88 PM</p>
                    </div>
                </div>
                <p class="-mt-4 text-gray-500">Very good restaurant. You can eat very tasty ♂️dick♂️ for only
                    ♂️three hundred bucks♂️.</p>
            </div>
        </div>
    </div>
</section>