<div class="bg-gray-200 my-6 ml-4 p-8 rounded-xl w-96">
    <h1 class="text-2xl grid justify-items-center">Filter</h1>

    <div class="flex items-center my-5">
        <input class="px-4 py-2 border rounded-l-lg w-96 focus:outline-none" [(ngModel)]="searchName" type="text"
            placeholder="Search..." (input)="onFilter()">
        <button class="bg-teal-500 text-white px-4 py-2 rounded-r-lg hover:bg-teal-700 focus:outline-none"
            (click)="onFilter()">
            Search
        </button>
    </div>

    <div class="flex flex-row">
        <label class="inline-flex items-center cursor-pointer">
            <span class="mr-2">Show only sale:</span>
            <input type="checkbox" [(ngModel)]="showOnlySale"
                class="form-checkbox h-5 w-5 text-gray-600 rounded-full border border-gray-400 checked:bg-blue-600 checked:border-transparent transition duration-200"
                (change)="onOnlySaleChange()">
        </label>
    </div>
</div>